@charset "UTF-8";
/*
	這份樣式表選擇器
	id(#) 作為區塊、錨點、切換選單，具有唯一性
	class(.) 作為網格系統、外觀樣式、功能類別的，具有重複性
	並使用到標籤、群組(,)、後代(半型空白)、nth-child、屬性、同層全體(~)、同層相鄰(+)、偽類(:)、偽元素(::)等等選擇器
*/
/*
	全局 reset 讓設計者擁有最大控制權
	::after、::before 為每個元素標籤都會有兩個偽元素(pseudo-element)
	就像火影忍者的影分身，一個元素可以有兩個影分身來幫本體做事情
*/
*,
*::before,
*::after {
  /*
  	box-sizing 是 CSS 的盒模型計算方式，通常使用兩種模式
  	預設是 content-box，也就是寬度只包含內容，不包含 padding 與 border
  	border-box 則是寬度包含內容、padding 與 border
  	可以讓計算盒模型時調整寬度更方便，不用再去計算 padding 與 border
  */
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  /*
  	transition 是 CSS 的轉場動畫
  	這裡使用了 *、*::before、*::after 確保所有元素轉場過度動畫設定 transition: 0.3s
  	轉場是兩種狀態的改變，瀏覽器會補上中間的補間動畫，讓狀態改變的過程更平滑
  	可以看到網頁許多地方都是動態轉場
  */
  transition: 0.3s;
}

/* :root 為根元素，等同 html */
:root {
  font-size: 1.2rem;
}

/* html、body 設定高度為 100%，這樣 index.html 的 .bg 才能正確的設定高度 */
html,
body {
  height: 100%;
}

/* 使用微軟正黑體 */
body {
  font-family: "微軟正黑體";
}

/*
  顯示背景專用，因為各頁都共用同一支外部樣式表，且選單頁面使用 iframe 嵌入，背景若寫在 body 裡面
	iframe 與 body 都會有背景，因此使用一個圖層 .bg 當作背景
	position: fixed 固定定位不受捲動軸的影響，會以瀏覽器左上角為基準點，達到背景固定的效果
	z-index -1 讓 .bg 在文件最底層，不會擋到其他元素
	這邊還使用了雙層背景，一層是線性漸層，一層是圖片，背景以 45 度角做漸層
*/
.bg {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, transparent 50%, rgb(0, 0, 0) 100%), url("../images/bg.jpg") no-repeat fixed center/cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

/* 用於將溢出 body 高度的內容隱藏起來，使用在喬斯達家族  */
.overflow-hidden {
  overflow: hidden;
}

/*  連結樣式，去除底線，文字顏色為黑色 */
a {
  text-decoration: none;
  color: black;
}

/* 群組選擇器，選取所有 h1、h2、p 標籤，並設定 margin-bottom: 1rem */
h1,
h2,
p {
  margin-bottom: 1rem;
}

/* p 的文字縮排 */
p {
  text-indent: 2rem;
}

/* h1 的文字大小、寬度、水平置中、背景、邊框、相對定位、z-index 等樣式 */
h1 {
  font-size: 40px;
  width: 220px;
  margin: auto;
  color: black;
  text-align: center;
  background: #fff;
  border: 2px solid #000;
  position: relative;
  top: 30px;
  z-index: 1;
}

/* h2 的文字大小 */
h2 {
  font-size: 30px;
}

/* 圖片 width:100% 符合外容器寬度，vertical-align 可以消除圖片底部的幽靈空白 */
img {
  width: 100%;
  vertical-align: middle;
}

/*
	.container 是一個內容容器，目的讓內容寬度一致
	裝置最小尺寸時會是 100% 寬度
	最底下有設定媒體查詢，當螢幕尺寸大於其他尺寸時，會改變尺寸
	寬度容器配合 margin: auto 讓容器水平置中
*/
.container {
  width: 100%;
  background: #fff;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #000;
  position: relative;
}

/*
	display: flex 宣告容器為彈性盒，用於我的欄位布局
	flex-wrap 是宣告當容器內的元素超出容器寬度時，是否要換行

	.row 為一列
	.col 為一欄
	用來作網格欄位使用

	容器(container)、列(row)、欄(col)、媒體查詢(media query)
*/
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
}

/* Main 顯示區 ------------------------------------------------------------------------------*/
/*
	calc 計算高度，100vh 為螢幕高度
	因為導覽列 + footer 的高度大約為 151px
	100vh - 151px 可以計算出頁面剩餘的高度，讓 iframe 的高度可以填滿剩餘的高度
	並下移 102px，因為導覽列的高度為 102px
*/
#main {
  height: calc(100vh - 151px);
  position: relative;
  top: 102px;
}

#main iframe {
  width: 100%;
  height: 100%;
}

/* 導覽列 ---------------------------------------------------------------------------------- */
/* 固定定位在頁面最上方 */
#navigator {
  width: 100%;
  margin-top: 40px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/*
	.menu 為導覽列選單，使用 flex 排版，讓選單項目水平垂直置中
	它也是 position:fixed 固定定位，可以顯示在頁面最上層
	justify-content: center 將彈性盒主軸(main-axis) 對齊中間點
	align-items: center 將彈性盒次軸(cross-axis) 對齊中間點
*/
#navigator .menu {
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 10px 0;
}

/* .menu-item + .menu-item 為選單項目的分隔線，使用 + 選擇器，選取同層的下一個元素 */
#navigator .menu-item + .menu-item {
  border-left: 1px solid #000;
}

/* .menu-item:not(:nth-child(4)) a 為不是第四個子元素的元素的 a 標籤 */
#navigator .menu-item:nth-child(4) {
  position: absolute;
  width: 10%;
  border: none;
}

#navigator .menu-item:nth-child(5) {
  margin-left: 15%;
  border-left: none;
}

#navigator .menu-item:not(:nth-child(4)) a {
  display: block;
  font-weight: bold;
  padding: 5px 10px;
}
#navigator .menu-item:not(:nth-child(4)) a:hover {
  background: darkmagenta;
  color: yellow;
}

/* 首頁內容 ---------------------------------------------------------------------------------- */
#index-content {
  position: relative;
  top: 100px;
}
#index-content .container {
  padding: 50px 450px 100px 20px;
}
#index-content .index_star_platinum {
  position: absolute;
  right: -20px;
  top: -150px;
}
#index-content .index_star_platinum img {
  width: 550px;
}

/* 喬斯達家族 ---------------------------------------------------------------------------------- */
/*
	這邊的分頁切換選單，使用了 CSS 的偽類(虛擬類別) :checked 與 ~ 同層全體選取器完成
	label 屬性 for 值必須對應到 input 的 id
	label 作為選單的按鈕，當點選時，會觸發對應 id 的 checked 狀態
	並且指向同層的 .ch1 ~ .ch6 讓對應的分頁內容顯示出來
*/
#family-content {
  position: relative;
  top: 50px;
}
#family-content .container {
  padding: 50px 450px 50px 20px;
}

#family-content .family-menu {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

#family-content .ch1,
#family-content .ch2,
#family-content .ch3,
#family-content .ch4,
#family-content .ch5,
#family-content .ch6 {
  display: none;
  position: relative;
}

/* 角色大圖定位，對齊位置其定位對齊會參考 .ch1~.ch6(上方的群組選擇器) */
#family-content .ch1_img {
  width: 500px;
  position: absolute;
  right: -500px;
  top: -50px;
}

#family-content .ch2_img {
  width: 700px;
  position: absolute;
  right: -700px;
  top: -150px;
}

#family-content .ch3_img {
  width: 500px;
  position: absolute;
  right: -500px;
  top: -180px;
}

#family-content .ch4_img {
  width: 600px;
  position: absolute;
  right: -550px;
  top: -200px;
}

#family-content .ch5_img {
  width: 600px;
  position: absolute;
  right: -600px;
  top: -150px;
}

#family-content .ch6_img {
  width: 600px;
  position: absolute;
  right: -600px;
  top: -130px;
}

/* 設定邊框、內距 */
#family-content label {
  border: 1px solid #000;
  padding: 5px 10px;
}

/* hover 過去 label 轉場變化 */
#family-content label:hover {
  background: #000;
  color: yellow;
  cursor: pointer;
}

#family-content label + label {
  margin-left: 3px;
}

/* 隱藏所有 input */
#family-content input[type=radio] {
  display: none;
}

/* 當 input 被 chekced 狀態時會定應到 ~ 後面的 class，讓其顯示 */
#jonathan:checked ~ .ch1,
#joseph:checked ~ .ch2,
#jotaro:checked ~ .ch3,
#josuke:checked ~ .ch4,
#giorno:checked ~ .ch5,
#jolyne:checked ~ .ch6 {
  display: block;
}

/* 當 input 被 chekced 狀態時會定應到 ~ 後面的屬性選擇器，讓其有 active 的效果 */
#jonathan:checked ~ .family-menu label[for=jonathan],
#joseph:checked ~ .family-menu label[for=joseph],
#jotaro:checked ~ .family-menu label[for=jotaro],
#josuke:checked ~ .family-menu label[for=josuke],
#giorno:checked ~ .family-menu label[for=giorno],
#jolyne:checked ~ .family-menu label[for=jolyne] {
  background: #000;
  color: yellow;
}

/* 故事劇情 --------------------------------------------------------------------------------- */
/* 相對定位 */
#story-content {
  position: relative;
  top: 50px;
}

/* 設定內距，上下 50px，左右 20px  */
#story-content .container {
  padding: 50px 20px;
}

#story-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#story-content .row {
  justify-content: center;
  margin-bottom: 1rem;
  border: 1px solid #aaa;
}

#story-content .col {
  padding: 10px;
}

#story-content .col:nth-child(odd) {
  width: 25%;
}

#story-content .col:nth-child(even) {
  width: 75%;
}

/* 選擇奇數的 row，它的第 1 個 col，排序在第 1 個位置 */
.row:nth-child(odd) .col:nth-child(1) {
  order: 1;
}

/* 選擇奇數的 row，它的第 2 個 col，排序在第 2 個位置 */
.row:nth-child(odd) .col:nth-child(2) {
  order: 2;
}

/* 選擇偶數的 row，它的第 1 個 col，排序在第 2 個位置 */
.row:nth-child(even) .col:nth-child(1) {
  order: 2;
}

/* 選擇偶數的 row，它的第 2 個 col，排序在第 1 個位置 */
.row:nth-child(even) .col:nth-child(2) {
  order: 1;
}

/* 作品特色 --------------------------------------------------------------------------------- */
#features-content {
  /* 絕對定位的水平垂直置中 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#features-content .col {
  /* 設定內距 */
  padding: 10px;
}

#features-content .container {
  /* 設定上內距 */
  padding-top: 50px;
}

#features-content .features-card {
  /* 相對定位，用於產生定位界線，讓 .features-card-title 可以對齊正中央 */
  padding: 10px;
  position: relative;
  border: 1px solid #aaa;
}

/* 滑鼠 hover 該頁面三張圖片會有陰影及往上移動效果 */
#features-content .features-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}

#features-content .features-card-title {
  color: white;
  text-shadow: 1px 1px 1px black, 2px 2px 2px black;
  /* 讓作品特色標題，以絕對定位做水平垂直置中 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#features-content .features-card p {
  /* 文字縮排 */
  text-indent: 0;
  /* 內距 */
  padding: 10px;
  /* 文字水平置中 */
  text-align: center;
  /* 字體大小 */
  font-size: 1.2rem;
  /* 文字顏色 */
  color: white;
  /* 背景顏色 */
  background: purple;
}

/* 替身系統 ---------------------------------------------------------------------------------- */
#stand-content {
  /* 設定相對定位 */
  position: relative;
  top: 50px;
}

#stand-content .container {
  /* 內距 */
  padding: 50px 20px;
}

#stand-content ul {
  /* 無序清單設定 */
  margin-left: 50px;
  margin-bottom: 1rem;
}

#stand-content li {
  /* 最上面因為做了全局 reset，因此再將列表清單 li 的樣式設定回來 */
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: none;
  margin-left: 20px;
  padding: 5px;
}

/* 用於 wow.js 的圖片，做了定位 */
#stand-content .stand-01 {
  width: 400px;
  position: absolute;
  right: 300px;
  z-index: 10;
}

/* 用於 wow.js 的圖片，做了定位 */
#stand-content .stand-02 {
  width: 600px;
  position: absolute;
  left: -100px;
  top: 800px;
  z-index: 10;
}

/* 當圖片尺寸與容器比例不相符時，object-fit 可以將圖片調整成與容器比例一致，但會犧牲一些裁切 */
#stand-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 喬迷倉庫 ---------------------------------------------------------------------------------- */
/* 表格的設定，border-collapse 將儲存格之間距離合併 */
#fans-content {
  position: relative;
  top: 50px;
}
#fans-content .container {
  padding-bottom: 50px;
}
#fans-content .fans-list {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}
#fans-content img {
  width: auto;
}
#fans-content td,
#fans-content th {
  padding: 10px;
  border: 1px solid #aaa;
}
#fans-content td:nth-child(2) {
  text-align: center;
}
#fans-content a {
  color: blue;
}
#fans-content a:hover {
  text-decoration: underline;
}

/* footer ---------------------------------------------------------------------------------- */
/*
	fixed 固定定位在頁面最下方
	z-index 1000 確保定位在最上層，不被其他定位覆蓋
*/
#footer-fixed {
  width: 100%;
  text-align: center;
  background: #fff;
  border-top: 3px solid #000;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

/* @media 為媒體查詢，用於響應式，只用於 .container 與 .col 的調整 */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col {
    width: 33.333333%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}